h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: 'Gloria Hallelujah', cursive;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0px
}

li {
    display: inline-block;
}

.adjust {
  height: 100px;
  width: 100px;
}

#timer {
  text-align: center;
  padding-bottom: 50px;
}

#countdown {
  font-size: 4em;
  margin: 10px;
}

#clock {
  width: 550px;
  height: 550px;
  margin: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 130px;
  padding-bottom: 0px;
  opacity: 1;
  background-image: url('../images/tomato.png');
  background-size: 550px;
  background-repeat: no-repeat;
}

#work, #rest {
  font-size: 2em;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.yellow {
  color: rgb(209, 212, 0);
}

.green {
  color: rgba(27, 70, 26, 1);
}

button {
  border: 0;
  background: transparent;
}

button:focus {
  outline: 0;
  border: dotted black 1px;
  border-radius: 5px;
}
