h1 {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0px
}

li {
    display: inline-block;
}

.adjust {
  height: 100px;
  width: 100px;
}

#timer {
  text-align: center;
  padding-bottom: 50px;
}

#countdown {
  font-size: 6em;
  margin: 10px;
}

#clock {
  border-style: solid;
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: white;
  opacity: 0.8;
}

#work, #rest {
  font-size: 2em;
}

body {
    background-image: url("../images/tomato-photo1-l.jpg");
}

.red {
  color: red;
}

.green {
  color: rgb(3, 150, 0);
}
